.CoursesPage__CourseCard {
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  transition: box-shadow 0.25s ease-in;
  display: flex;
  min-height: 200px;
  margin: 20px 0;
  cursor: pointer;
  
  &:hover {
    box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
  }

  .CoursesPage__CourseCard__cover {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #49a9f8;
  }

  .CoursesPage__CourseCard__content {
    flex-grow: 1;
    padding: 20px;
  }
}
