.Button {
  background: #333a56;
  border: none;
  border-radius: 25px;

  font-size: 16px;
  font-weight: bold;
  color: #fff;

  height: 50px;
  min-width: 160px;
  padding: 8px 30px;
}

.Button:focus {
  outline: none;
}
