.AppLanding__ForStudents {
  padding: 90px 0;

  background: #52658f;
  color: #fff;
  text-align: center;

  .AppLanding__ForStudents__line {
    display: inline-block;
    border-top: 1px #ccc solid;
    margin: 25px 0;
    width: 160px;
  }

  p {
    font-size: 1.1rem;
  }
}